<book-new (addBook)='addBook($event)'></book-new>
{{ errorMessage }}
<section>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Year</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let book of books; let idx = index' (click)='selectBook(book)'>
        <td>{{ book.id }}</td>
        <td>{{ book.title | titleize }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.author }}</td>
        <td>
          <button (click)='removeBook($event, book)'>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  </section>

<book-detail [book]='selectedBook'></book-detail>
