<book-new (addBook)='addBook($event)'></book-new>

<section>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Year</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let book of books; let idx = index' (click)='selectBook(book)'>
        <td>{{ idx }}</td>
        <td>{{ book.title | titleize }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.author }}</td>
        <td>
          Future Actions
        </td>
      </tr>
    </tbody>
  </table>
  </section>

<book-detail [book]='selectedBook'></book-detail>
